@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    background: none;
    outline: none;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    opacity: 0.8;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
}
