@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    -ms-overflow-style: none; /* IE and Edge */ 

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }

  input {
    background: none;
    outline: none;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    opacity: 0.7;
  }

  textarea {
    resize: none;
  }

  textarea::placeholder {
    opacity: 0.7;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}
 
@layer base {
  html,
  body {
    overflow: auto;
    width: 100%;
    height: 100%;

    @apply bg-base-300 text-foreground
  }

  body {
    display: flex;
  }

  * {
    @apply border-border;

    &:focus-visible {
      outline: none
    }
  }

  textarea:focus-visible {
    outline: none;
  }

}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;  
  }

  .text-vertical {
    text-orientation: mixed;
    writing-mode: vertical-rl;
  }

  .dot-between + .dot-between {
    &::before {
      content: '·';
      margin-inline: 0.25em;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
