.container {
  .input {
    @apply relative p-2 px-3 text-foreground text-base;

    height: 300px;
    font-size: 12px;
    outline: 0;
    resize: none;
    tab-size: 1;
  }

  .placeholder {
    @apply left-3 right-3 top-2 text-foreground/70 text-base;

    position: absolute;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    pointer-events: none;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }
}
